/* started Jan 2 206 */

body {
  display: flex;
  flex-direction: column;
  min-height: 95vh; /* Ensures the body takes at least the full viewport height */
  margin: 20px; /* Remove default browser margins */
  justify-content: center;  /* Centers horizontally */
    font-family: fantasy;
     background-color: rgb(231, 220, 158);
         
}

main {
  flex: 1 0 auto; /* This makes the main content grow to fill the available space */
}


h1 {font-size: 8rem;}

footer {border: 1px solid red;}

.bluejigsa {width: 100%;}


/* ==================================media queries ============================================= */

@media screen and (max-width: 600px) {
  /* CSS rules applied when the viewport width is 600px or less */
  body {
    font-family: arial;
     background-color: rgb(231, 220, 158);
  min-height: 82vh; /* Ensures the body takes at least the full viewport height */
  }
  h1 {font-size: 5rem;
    letter-spacing: -4px;
  }
}

/* General landscape for phones */
@media only screen and (min-width: 480px) and (orientation: landscape) {
  /* Styles for landscape mode on iPhones */
  
body {
    font-family: arial;
     background-color: rgb(231, 220, 158);
  min-height: 42vh; /* Ensures the body takes at least the full viewport height */
  }
  h1 {font-size: 5rem;
    letter-spacing: -4px;
  }

}