---
import MainLayout from '../layouts/MainLayout.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About - Astro and TPM web design Philadelphia</title>
	</head>

	<MainLayout>
	<body>
		<header>
			<nav>
				
			</nav>
		</header>
		
		<h1>TPM</h1>	
	
		<img class="bluejigsa" src="/images/blue_jigsa.jpg" alt="blue jigs">
		<h2>About</h2>
        <p>TPM manages artists and makes websites.</p>
		
	
	</body>
	</MainLayout>
	
</html>
