---
import MainLayout from '../layouts/MainLayout.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro and TPM web design Philadelphia</title>
	</head>

	<MainLayout>
	<body>
		<header>
			<nav>
				
			</nav>
		</header>
		<div class="findo">
			<h1>Astro</h1>
		</div>
		<footer>
		
		</footer>
	</body>
	</MainLayout>
	
</html>
